
.show-list > li > div > p{
    width: 100%;
    font-size: .8em;
}
.show-list > li > div{
    width: 100%;
    font-size: .8em;
}
.show-list .title{
    width: 100%;
}
.show-list .details .type{
    width: 40px;
    float: left;
    margin-right: 5px;
}
.show-list .details .title{
}
.show-list .details .rating{
    width: 100px;
    float: left;
}
.show-list .details .channel{
    width: 150px;
    float: left;
}
.show-list .details .channel{
    width: 100%;
    float: right;
}
body > div {
/*    max-width: 400px; */
}
#wrapper {
       position: relative;
       width: 100%;
       margin: 0 auto;
}

/* #pages { */
/*     position: absolute; */
/*     top: 0px; */
/*     left: 0px; */
/*     width: 450px; */
/* } */

/* #pages div.content-box { */
/*     float: left; */
/* } */

.template { display:none; }