#nav_bar{
    width: 100%;
    margin: 0 auto;
}
#nav_bar > div{
    width: 33%;
    float: left;
    background-color: white;
    margin-top: 15px;
    border-right: 1px;
}
.show-list > li > div > p{
    width: 100%;
    font-size: .8em;
}
.show-list > li > div{
    width: 100%;
    font-size: .8em;
}
.show-list .title{
    width: 100%;
}
.show-list .details .type{
    width: 40px;
    float: left;
    margin-right: 5px;
}
.show-list .details .title{
}
.show-list .details .rating{
    width: 100px;
    float: left;
}
.show-list .details .channel{
    width: 150px;
    float: left;
}
.show-list .details .channel{
    width: 100%;
    float: right;
}
