#jqt > * {
	background-color: #eee;
	background-image: repeating-linear-gradient(left, transparent, transparent 1px, #C5CDD4 1px, #C5CDD4 7px);
}
#jqt .toolbar {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:rgba(0, 0, 0, 0.4) 0 1px 6px;
	box-shadow:rgba(0, 0, 0, 0.4) 0 1px 6px;
	border-bottom:1px solid black;
	z-index:10;
	position:relative;
	padding:5px;
}
#jqt .toolbar {
	background:#393939;
        overflow:auto;
}
h1 {
	color:#fff;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size:18px;
}
.branding {
	background:url(../images/logo_32.png) no-repeat;
	height:33px;
	margin: -5px 0px 0px;
	float:left;
}
.branding h1 {
	padding:8px 0px 0px 38px;
}
#nav-wrapper { background-color:white; }

#navbar {
	width:100%;
	margin:auto;
        background-color:#eaeaea;
	border:1px solid #ddd;
	overflow:hidden;
}
#navbar > div {
    position: relative;
}
#navbar > div > div {
	width: 32%;
	float: left;
	padding:8px 0px 8px 0px;
	font-family: 'Roboto';
	font-weight: medium;
	color:#888;
}

#navbar .selected { color:black; }
#navbar > div > div >a{text-decoration:none; color:#555;}
#navbar > div > div{ text-align:center;}

.indicator{
    margin:auto;
    padding:0% 2%;
    width:100%;
    border-top:1px solid #ccc;
}

.arrow{
    width:10px; 
    height:10px; 
    margin:-6px auto 0 auto;
    background:#fff; 
    -webkit-transform: rotate(45deg)  ;
    -moz-transform: rotate(45deg) ;
    -o-transform: rotate(45deg)  ;
    -ms-transform: rotate(45deg) ;
    border-top:1px solid red;
    border-left:1px solid red;
}

#jqt ul {
 margin:0 1px;
}
#jqt ul li {
    font-family: 'Roboto';
    font-weight: medium;
}

#jqt ul li {
    display:block;
    padding:10px;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-transform:translateZ(0);
    color:#262626;
    text-shadow:none;
    font-weight:normal;
    font-size:0.8em;
}


.single_content{
-webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
background-color: white;
color: #555;
text-shadow: white 0 1px 0;
border: 1px solid #D9D9D9;
font: normal 15px 'Roboto';
margin: 5px 8px 15px 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
padding:20px;
line-height:25px;
}
.single_content img{
width:100%;
border:1px solid #bbb;
}
a.back{
background:url('../images/back.png') no-repeat;
float:right;
text-indent:-9999px;
width:32px;height:32px;

}

.details .name { width:100%; overflow:hidden; white-space:nowrap; margin-bottom:5px; }
.pull-left{float:left;width:75%;}
.pull-left > div { width:100%; overflow:hidden; white-space:nowrap; }
.pull-right{float:right;width:25%; overflow:hidden; }

.rating { background:url('../images/rating.png'); width:50px; height:17px;display:block;}
.r0 { background-position: 0px 16px;}
.r1 { background-position: 0px 33px;}
.r2 { background-position: 0px 49px;}
.r3 { background-position: 0px 66px;}

.category{display:block;}

.details{
    margin:8px 0 0 0;
    overflow:auto;
}

.details .time-left { 
    color:#777777; 
    float:left;
    color:black; 
    font-size:0.9em; 
/*    padding:2px 3px;*/
/*    background-color:#ffd700;*/
    margin-top:3px;
}
/*.details .time-left.started { background-color:#9acd32; }*/
.details .name { font-weight:bold; }
.details .desc { margin-left:15px; }

.category-name { 
    font-weight:bold; 
    background-color:#eee;
    padding:3px 2px;
}

.thumbnail.large {
    width:100%;
    margin:auto;
}

.thumbnail img {
    display:block;	
    margin:auto;
}

img.thumbnail.small {
  width:60px;
  height:60px;
  background-color:#eee;
}

.description {
    width:100%;
    text-align:center;
    background:#fff;
    padding:20px 0px;
}

.more_button {
    width:215px;
    margin:auto;
}

.reviews{
    float:left;
    margin:17px 0px 0px -17px;
    z-index:-1;
}

#start ul { border:0; }
#start { background-color:white; }

#pullDown{
    display: block;
    background: white;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
    font-weight: bold;
    font-size: 14px;
    color: rgb(136, 136, 136);
}
