
body { background-color:white; }
#jqt { background-color:white; }

.left { float:left }
.right { float:right }

#jqt .toolbar {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-bottom:1px solid black;
    z-index:10;
    position:fixed;
    padding:5px;
    background:#393939;
    overflow:auto;
    width:100%;
    left:0;
    top:0;
}

h1 {
    color:#fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size:18px;
}

.branding {
    background:url(../images/logo_32.png) no-repeat;
    height:33px;
    margin: 0px;
    float:left;
}

.refresh {
    width:24px;
    height:24px;
    float:right;
    padding:4px;
}

.navbar {
    position:fixed;
    top:44px;
    z-index:9;
    width:100%;
    background-color:#eee;
    border-bottom:1px solid rgba(204, 204, 204, 0.7);
}

.navitem {
    width: 49%;
    text-align:center;
    padding:5px 0 3px 0;
    display:block;
    text-decoration:none;
    color:black;
}

.navitem.active { background-color:#ccc; }


.pointer {
    position:relative;
    height:6px;
    top:-3px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
}
.navbar .arrow { margin:auto; position:relative; }
.navbar .arrow.foreground {  top:2px; }
.navbar .arrow.background { 
    top:6px;
    border-bottom-color:rgba(204, 204, 204, 0.7); 
}

.branding h1 { padding:8px 0px 0px 38px; }
.template { height:1px; overflow:hidden; visibility:hidden; }


.show {
    font-family: 'Roboto';
    font-weight: normal;
    font-size:0.8em;
    overflow:auto;
}
.show .title { 
    font-weight:bold; 
    overflow:hidden; 
    white-space:nowrap;
}

.list .show .left  { width:73%; }
.list .show .left > div { overflow:hidden; white-space:nowrap; }
.list .show .right { width:75px; }
.list .show .time-left { font-size:0.9em; }

.show .rating { background:url('../images/rating.png'); width:50px; height:17px;display:block;}
.show .rating.r0 { background-position: 0px 16px;}
.show .rating.r1 { background-position: 0px 33px;}
.show .rating.r2 { background-position: 0px 49px;}
.show .rating.r3 { background-position: 0px 66px;}


.down-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ddd;
}

h2 { 
    font-size:1em;
    font-weight:normal;
}

.head { background-color:#ddd; }
.head h2 { padding:5px 7px 5px 5px; text-align:right;  }
.head .down-arrow { 
    position:relative; 
    float:right; 
    right:10px;
}

.spinner { 
    position:absolute;
    width:60%;
    height:50px;
    left:20%;
    top:40%;
    text-align:center;
    clear:both;
}

#loading {
    position:absolute;
    width:100%;
    z-index:10;
    text-align:center;
}

#jqt .list, #jqt .list ul { 
    margin:0; 
    padding:0; 
    border:0;
}

#jqt .list li:first-child  { border-top:0; }
#jqt .list li { 
    width:95%; 
    color:black;
}

.header-gap { margin-top:79px; height:1px; width:100%; }
.toolbar-gap { margin-top:45px; height:1px; width:100%; }

#show-page .thumbnail {
    text-align:center; 
    padding:10px;
    background:url('/images/stripe.png');
}

#show-page .details {
    padding:5px 10px;
}

#show-page .show {
    font-size:1em;
}

#show-page .description { padding:10px; }
#show-page .title { 
    font-weight:normal; 
    overflow:hidden; 
    white-space:nowrap;
}
