
#jqt { background-color:white; }

.left { float:left }
.right { float:right }

#jqt .toolbar {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-shadow:rgba(0, 0, 0, 0.4) 0 1px 6px;
    box-shadow:rgba(0, 0, 0, 0.4) 0 1px 6px;
    border-bottom:1px solid black;
    z-index:10;
    position:fixed;
    padding:5px;
    background:#393939;
    overflow:auto;
    width:100%;
    left:0;
    top:0;
}

h1 {
    color:#fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size:18px;
}

.branding {
    background:url(../images/logo_32.png) no-repeat;
    height:33px;
    margin: -5px 0px 0px;
    float:left;
}

#navbar {
    position:fixed;
    top:39px;
    z-index:9;
    width:100%;
    background-color:#eee;
    border-bottom:1px solid rgba(204, 204, 204, 0.7);
}

#navslider {
    width:50%;
    float:right;
    overflow:auto;
}
.navitem { 
    padding:7px 0; 
    font-size:0.9em;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
}

#navbar .arrow {
    margin:auto;
    position:relative;
}

#navbar .arrow.foreground {
    top:21px;
}

#navbar .arrow.background {
    border-bottom-color:rgba(204, 204, 204, 0.7);
    top:25px;
}


#flickables { margin-top:80px; }
#flickables ul { border:0; }
#flickables li:first-child  { border-top:0; }

.branding h1 { padding:8px 0px 0px 38px; }

.toolbar-gap { margin-top:40px; }

.template { display:none; }

#start ul { margin:0; padding:0; }

#start li.show { color:black; }
.show {
    font-family: 'Roboto';
    font-weight: normal;
    font-size:0.8em;
    overflow:auto;
}
.show .title { 
    font-weight:bold; 
    overflow:hidden; 
    white-space:nowrap;
}
.show .left  { width:73%; }
.show .left > div { overflow:hidden; white-space:nowrap; }
.show .right { width:75px; }
.show .time-left { font-size:0.9em; }

.show .rating { background:url('../images/rating.png'); width:50px; height:17px;display:block;}
.show .rating.r0 { background-position: 0px 16px;}
.show .rating.r1 { background-position: 0px 33px;}
.show .rating.r2 { background-position: 0px 49px;}
.show .rating.r3 { background-position: 0px 66px;}

h2 { 
    background-color:white; 
    font-size:1em;
    font-weight:normal;
}

.flickable { 
    overflow:hidden; 
    background:white;
}



